@page "/falafel"

<h1>The Falafel Counter</h1>

<p>An app to compare costs of falafel to your everyday expenses.</p>

<Calculator price="7"/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
