@page "/falafel"

<h1>The Falafel Counter</h1>

<p>An app to compare costs of falafel to your everyday expenses.</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
