@inject IJSRuntime jsRuntime

<div class="calculator">
<input @bind="CurrentValue" type="number" placeholder="enter price" />
<button type="button" class="btn btn-primary" id="run-calculation" @onclick="calculateRatio">Calculate</button>
@if(hasResults){
<div><p id="result">@result @name</p></div>
}
</div>

@code{
    [Parameter]
    public double price { get; set; }

    [Parameter]
    public string name { get; set; }
    private double CurrentValue { get; set; }

    private double total { get; set; }

    private bool hasResults { get; set; } = false;

    private string result { get; set; } = "";

    private void calculateRatio()
    {
        double r = CurrentValue / price;
        result = r.ToString();
        hasResults = !hasResults;
    }
}